/* Reset all browser default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap");

/* My default styles */
h1 {
  font-family: "Poppins", sans-serif;
}

p,
label,
h2,
button,
textarea,
::placeholder {
  font-family: "Roboto", sans-serif;
}

/* body {
  overflow-x: hidden;
} */

/* Start of styles */
.container {
  background: #100e17;
  color: #fff;
  min-width: 320px;
  width: 100%;
}

/* Move container to the left side by Toggle */
/* .container.active {
  transform: translateX(-100px);
} */

/* Header Section */
.header-section {
  background: #100e17;
  width: 100%;
  height: auto;
  padding: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  z-index: 5;
}

.header-section .header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Header - Burger Menu Icon Styles */
.header-section .header-grid .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
  margin-top: 25px;
  margin-right: 25px;
}

.header-section .header-grid .burger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-self: end;

  -webkit-transition: top 0.4s ease-in-out;
  -moz-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out;
  -o-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}

.header-section .header-grid .burger-menu:before {
  content: "";
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

.header-section .header-grid .burger-menu > div {
  content: "";
  position: absolute;
  top: 14px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: top 0.4s ease-in-out;
  -moz-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out;
  -o-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}

.header-section .header-grid .burger-menu:after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

/* Header - Burger Menu Icon Styles (Toggle click) */
/* Toggler Animation */
.header-section.active
  .header-grid
  .toggler:checked
  + .header-section
  .header-grid
  .burger-menu
  > div {
  transform: rotate(135deg);
}

.header-section.active .header-grid .burger-menu:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; */
}

.header-section.active .header-grid .burger-menu > div {
  display: none;
}

.header-section.active .header-grid .burger-menu:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  /* -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; */
}

/* Navigation section */
.nav-section {
  width: 70%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 6;
  background: #17141d;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.nav-section.show {
  /* right: -14.5%; */
  right: 0;
  position: fixed;
  opacity: 1;
}

/* Navigation section - Burger Menu Icon Styles */
.nav-section .burger-menu {
  position: fixed;
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-self: end;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
}

.nav-section .burger-menu:before {
  content: "";
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

.nav-section .burger-menu > div {
  content: "";
  position: absolute;
  top: 14px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

.nav-section .burger-menu:after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background: #fff;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5), 1px 13px 10px rgba(0, 0, 0, 0.4);
}

/* Navigation site - Burger Menu Icon Styles (Toggle click) */
.nav-section.active .burger-menu:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; */
}

.nav-section.active .burger-menu > div {
  display: none;
}

.nav-section.active .burger-menu:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  /* -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; */
}

.nav-section ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 100px;
}

.nav-section ul > li {
  padding: 15px 0;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.nav-section .nav-links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  display: inline-block;
}

.nav-section ul > li:hover {
  transform: translateY(-10px);
}

.nav-section .nav-links:after {
  display: block;
  content: "";
  padding-top: 8px;
  border-bottom: 3px solid #e0bb20;
  transform: scaleX(0);
  -webkit-transition: transform 0.9s ease-in-out;
  -moz-transition: transform 0.9s ease-in-out;
  -ms-transition: transform 0.9s ease-in-out;
  -o-transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
}

.nav-section .nav-links:hover:after {
  transform: scaleX(1);
}

.nav-section .nav-links:after {
  transform-origin: 0% 50%;
}

.nav-section .social-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-section .social-medias > a {
  margin: 0 15px;
  width: 16px;
  height: 16px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav-section .social-medias > a:hover {
  transform: scale(1.2);
}

.nav-section .social-medias .github-logo {
  background: url("../assets/svg/github-logo.svg");
  background-size: contain;
}

.nav-section .social-medias .linkedin-logo {
  background: url("../assets/svg/linkedin-logo.svg");
  background-size: contain;
}

.nav-section .social-medias .twitter-logo {
  background: url("../assets/svg/twitter-logo.svg");
  background-size: contain;
}

.nav-section .social-medias .ig-logo {
  background: url("../assets/svg/ig-logo.svg");
  background-size: contain;
}

.nav-section p {
  text-align: center;
  font-size: 12px;
  margin: 20px 0;
}

/* Banner section */
.banner-section {
  height: 100vh;
  padding: 20px;
}

.banner-section .banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}

.banner-section .banner-container p,
h1 {
  line-height: 30px;
  margin-bottom: 15px;
}

.banner-section .banner-container p {
  font-size: 25px;
  margin: 15px 0;
}

.banner-section .banner-container h1 {
  font-size: 30px;
  line-height: 40px;
  margin: 15px 0;
}

.banner-section .banner-container .social-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 100px; */
}

.banner-section .banner-container .social-medias > a {
  margin: 0 15px;
  width: 20px;
  height: 20px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.banner-section .banner-container .social-medias > a:hover {
  transform: scale(1.2);
}

.banner-section .banner-container .social-medias .github-logo {
  background: url("../assets/svg/github-logo.svg");
  background-size: contain;
}

.banner-section .banner-container .social-medias .linkedin-logo {
  background: url("../assets/svg/linkedin-logo.svg");
  background-size: contain;
}

.banner-section .banner-container .social-medias .twitter-logo {
  background: url("../assets/svg/twitter-logo.svg");
  background-size: contain;
}

.banner-section .banner-container .social-medias .ig-logo {
  background: url("../assets/svg/ig-logo.svg");
  background-size: contain;
}

.banner-section .scroll-down-container {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  animation: updown 6s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-1%);
  }

  50% {
    transform: translateY(1%);
  }

  100% {
    transform: translateY(-1%);
  }
}

.banner-section a {
  color: #fff;
}

/* Project Section */
.project-section {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.project-section p {
  letter-spacing: 1px;
}

.project-section .project-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.project-section .project-container .project-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  position: relative;
  left: 0px;
  padding: 20px;
  margin: 40px 0;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.project-section .project-container .project-card .project-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.project-section .project-container .project-card .bar {
  /* background-color: #2e3033; */
  background: #e0bb20;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  margin: 15px 0;
}

.project-section .project-container .project-card img {
  width: 100%;
  height: auto;
}

.project-section .project-container .project-card img:hover {
  transform: scale(1.1);
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.project-section .project-container .project-card p,
h3 {
  line-height: 25px;
  letter-spacing: 1px;
}

.project-section .project-container .project-card:hover {
  transform: translateY(-10px);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.project-section .project-container .project-card .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-section .project-container .project-card .links > a {
  margin: 0 15px;
  width: 23px;
  height: 23px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.project-section .project-container .project-card .links > a:hover {
  transform: scale(1.2);
}

.project-section .project-container .project-card .links .github-logo {
  background: url("../assets/svg/github-logo.svg");
  background-size: contain;
}

.project-section .project-container .project-card .links .external-logo {
  background: url("../assets/svg/external-logo.svg");
  background-size: contain;
}

/* About Section */
.about-section {
  padding: 30px 20px;
}

.about-section .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section .about-container p,
span {
  margin: 15px 0;
  line-height: 25px;
  letter-spacing: 1px;
}

.about-section .about-container span {
  color: #e0bb20;
}

.about-section .about-container .design {
  color: #2e9cca;
}

.about-section .about-container .code {
  color: #f76c6c;
}

.about-section .about-container .deploy {
  color: #f8e9a1;
}

/* Skills Section */
.skills-section {
  padding: 30px 20px;
}

.skills-section .skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  margin: 35px 0;
}

.skills-section .skills-grid .skills-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.skills-section .skills-grid .skills-flex img {
  width: 30%;
  height: auto;
  filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.skills-section .skills-grid .skills-flex p {
  margin: 20px 0;
  letter-spacing: 1px;
}

.skills-section .skills-grid .skills-flex:hover p {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.skills-section .skills-grid .skills-flex:hover img {
  transform: scale(1.2);
}

/* Cotnact Section */
.contact-section {
  padding: 30px 20px;
}

.contact-section .note {
  line-height: 25px;
}

.contact-section p,
label,
::placeholder {
  letter-spacing: 1px;
}

.contact-section form {
  margin: 20px 0;
}

.contact-section form input,
textarea {
  background: #17141d;
  margin: 30px 0;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  border-bottom: 1px solid #e0bb20;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  color: #fff;
  letter-spacing: 1px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact-section form textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
}

.contact-section form input:focus,
textarea:focus {
  outline: none;
  transform: translateY(-8px);
  background: #fff;
  color: #100e17;
  border-bottom: 3px solid #e0bb20;
}

/* Place holder styles */
textarea::-webkit-input-placeholder {
  font-size: 13px;
  color: rgb(149, 147, 151, 0.7);
}

textarea:focus::-webkit-input-placeholder {
  font-size: 13px;
  color: #000;
}

/* Firefox < 19 */
textarea:-moz-placeholder {
  font-size: 13px;
  color: rgb(149, 147, 151, 0.7);
}

textarea:focus:-moz-placeholder {
  font-size: 13px;
  color: #000;
}

/* Firefox > 19 */
textarea::-moz-placeholder {
  font-size: 13px;
  color: rgb(149, 147, 151, 0.7);
}

textarea:focus::-moz-placeholder {
  font-size: 13px;
  color: #000;
}

/* Internet Explorer 10 */
textarea:-ms-input-placeholder {
  font-size: 13px;
  color: rgb(149, 147, 151, 0.7);
}

textarea:focus:-ms-input-placeholder {
  font-size: 13px;
  color: #000;
}

.contact-section form .button-submit {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 7px 15px;
  letter-spacing: 1px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  background: #fff;
  color: #100e17;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact-section form .button-submit:hover {
  transform: translateY(-5px);
}

.contact-section form .button-submit > i {
  margin-left: 3px;
  animation: sideways 1.5s ease-in-out infinite;
}

@keyframes sideways {
  0% {
    transform: translatex(-15%);
  }

  50% {
    transform: translatex(15%);
  }

  100% {
    transform: translatex(-15%);
  }
}

/* Footer Section */
footer {
  padding: 30px 20px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
}

footer .social-medias {
  padding: 5px 0;
  margin: 5px 0;
}

footer .social-medias > a {
  margin: 0 10px;
  width: 16px;
  height: 16px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer .social-medias > a:hover {
  transform: scale(1.2);
}

footer .social-medias .github-logo {
  background: url("../assets/svg/github-logo.svg");
  background-size: contain;
}

footer .social-medias .linkedin-logo {
  background: url("../assets/svg/linkedin-logo.svg");
  background-size: contain;
}

footer .social-medias .twitter-logo {
  background: url("../assets/svg/twitter-logo.svg");
  background-size: contain;
}

footer .social-medias .ig-logo {
  background: url("../assets/svg/ig-logo.svg");
  background-size: contain;
}

footer p {
  padding: 5px 0;
  margin: 5px 0;
}

footer .scroll-up {
  border: 1px solid #e0bb20;
  border-radius: 3px;
  background: #e0bb20;
  width: 30px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  cursor: pointer;
  right: 2.5%;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

footer .scroll-up:hover {
  transform: translateY(-7px);
}

footer .scroll-up.active {
  pointer-events: auto;
  opacity: 1;
}

footer .scroll-up > i {
  color: #100e17;
  animation: updown 2.5s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(-30%);
  }
}
