/* Reset all browser default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap");

/* My default styles */
h1 {
  font-family: "Poppins", sans-serif;
}

p,
label,
h2,
button,
textarea,
::placeholder {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  /* transition: 5s; */
}

/* Start of styles */
.container {
  background: #100e17;
  color: #fff;
  min-width: 320px;
  width: 100%;
  /* overflow-x: hidden; */
}

::selection {
  color: #100e17;
  background: #e0bb20;
}

/* Header Section */
.header-section {
  background: #100e17;
  box-shadow: 0rem 0 1rem #000;
  width: 100%;
  height: auto;
  padding: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  z-index: 5;
}

.header-section .header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-section .header-grid .toggler-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-section .header-grid .toggler-flex .pointer-left {
  width: 25px;
  height: 25px;
  background: url("../assets/svg/point-to-left.svg");
  background-size: contain;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%);
  margin: 5px 15px;
  animation: sideways 1.5s ease-in-out infinite;
}

@keyframes sideways {
  0% {
    transform: translateX(-15%);
  }

  50% {
    transform: translateX(15%);
  }

  100% {
    transform: translateX(-15%);
  }
}

/* Header - Burger Menu Icon Styles */
.header-section .header-grid .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
  margin-top: 25px;
  margin-right: 25px;
}

.header-section .header-grid .burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
  width: 30px;
  height: 30px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-right: 25px;
}

/* Hamburger Line */
.header-section .header-grid .burger-menu > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Hamburger Lines - Top & Bottom */
.header-section .header-grid .burger-menu > div::before,
.header-section .header-grid .burger-menu > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.header-section .header-grid .burger-menu > div::after {
  top: 10px;
}

/* Toggler Animation */
.header-section .header-grid .toggler:checked + .burger-menu > div {
  transform: rotate(180deg);
}

.header-section .header-grid .nav-menu {
  display: none;
}

.header-section .header-grid ul {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin-top: 10px;
  justify-content: flex-end;
}

.header-section .header-grid ul > li {
  padding: 10px 0;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.header-section .header-grid .nav-links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.header-section .header-grid ul > li:hover {
  transform: translateY(-3px);
}

.header-section .header-grid .nav-links:after {
  display: block;
  content: "";
  padding-top: 8px;
  border-bottom: 3px solid #e0bb20;
  transform: scaleX(0);
  -webkit-transition: transform 0.9s ease-in-out;
  -moz-transition: transform 0.9s ease-in-out;
  -ms-transition: transform 0.9s ease-in-out;
  -o-transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
}

.header-section .header-grid .nav-links:hover:after {
  transform: scaleX(1);
}

.header-section .header-grid .nav-links:after {
  transform-origin: 0% 50%;
}

/* Navigation section */
.nav-section {
  width: 210px;
  height: 100%;
  padding: 25px;
  position: fixed;
  top: 0;
  right: -999%;
  z-index: 6;
  background: #17141d;
  box-shadow: 0rem 0 1rem #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.nav-section .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
  margin-top: 25px;
  margin-right: 25px;
}

.nav-section .burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
  width: 30px;
  height: 30px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-right: 25px;
}

/* Hamburger Line */
.nav-section .burger-menu > div {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Turns Lines Into X */
.nav-section .burger-menu > div::before,
.nav-section .burger-menu > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Turns Lines Into X */
.nav-section .burger-menu > div::after {
  /* top: 10px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Rotate On Hover When Checked */
.nav-section .toggler:hover + .burger-menu > div,
.nav-section .toggler:checked:hover + .burger-menu > div {
  transform: rotate(180deg);
}

.nav-section .toggler:checked + .burger-menu > div {
  transform: rotate(180deg);
}

.nav-section.show {
  right: 0;
  position: fixed;
  opacity: 1;
  z-index: 6;
}

.nav-section ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 100px;
}

.nav-section ul > li {
  padding: 10px 0;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.nav-section .nav-links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 13px;
}

.nav-section ul > li:hover {
  transform: translateY(-10px);
}

.nav-section .nav-links:after {
  display: block;
  content: "";
  padding-top: 8px;
  border-bottom: 3px solid #e0bb20;
  transform: scaleX(0);
  -webkit-transition: transform 0.9s ease-in-out;
  -moz-transition: transform 0.9s ease-in-out;
  -ms-transition: transform 0.9s ease-in-out;
  -o-transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
}

.nav-section .nav-links:hover:after {
  transform: scaleX(1);
}

.nav-section .nav-links:after {
  transform-origin: 0% 50%;
}

.nav-section > div:nth-child(4) {
  margin: 0 auto;
}

.nav-section .social-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-section .social-medias > a {
  margin: 0 15px;
  width: 16px;
  height: 16px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav-section .social-medias > a:hover {
  transform: scale(1.2);
}

.nav-section .social-medias .github-logo {
  background: url("../assets/svg/github-logo.svg");
  background-size: contain;
}

.nav-section .social-medias .linkedin-logo {
  background: url("../assets/svg/linkedin-logo.svg");
  background-size: contain;
}

.nav-section .social-medias .twitter-logo {
  background: url("../assets/svg/twitter-logo.svg");
  background-size: contain;
}

.nav-section .social-medias .ig-logo {
  background: url("../assets/svg/ig-logo.svg");
  background-size: contain;
}

.nav-section p {
  text-align: center;
  font-size: 12px;
  margin: 20px 0;
}

/* Banner section */
.banner-section {
  height: 100vh;
  padding: 20px;
}

.banner-section .banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}

.banner-section .banner-container p,
h1 {
  line-height: 30px;
  margin-bottom: 15px;
}

.banner-section .banner-container p {
  font-size: 23px;
  margin: 15px 0;
}

.banner-section .banner-container h1 {
  font-size: 27px;
  line-height: 40px;
  margin: 15px 0;
}

.banner-section .banner-container h1 > .artist-palette {
  animation-name: wave-animation;
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  background: url(../assets/svg/palette.svg) no-repeat center center/contain;
  width: 40px;
  height: 40px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.banner-section .banner-container .social-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.banner-section .banner-container .social-medias > a {
  margin: 0 15px;
  width: 20px;
  height: 20px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.banner-section .banner-container .social-medias > a:hover {
  transform: scale(1.2);
}

.banner-section .banner-container .social-medias .github-logo {
  background: url("../assets/svg/github-logo.svg");
  background-size: contain;
}

.banner-section .banner-container .social-medias .linkedin-logo {
  background: url("../assets/svg/linkedin-logo.svg");
  background-size: contain;
}

.banner-section .banner-container .social-medias .twitter-logo {
  background: url("../assets/svg/twitter-logo.svg");
  background-size: contain;
}

.banner-section .banner-container .social-medias .ig-logo {
  background: url("../assets/svg/ig-logo.svg");
  background-size: contain;
}

.banner-section .my-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.banner-section .my-email .my-email-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-section .my-email .my-email-container .pointer-left {
  width: 25px;
  height: 25px;
  background: url("../assets/svg/point-to-left.svg");
  background-size: contain;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%);
  margin: 5px 15px;
  animation: sideways 1.5s ease-in-out infinite;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

@keyframes sideways {
  0% {
    transform: translateX(-15%);
  }

  50% {
    transform: translateX(15%);
  }

  100% {
    transform: translateX(-15%);
  }
}

.banner-section .my-email .my-email-container p {
  font-size: 16px;
  margin: 0;
}

.banner-section .scroll-down-container {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  animation: updown 6s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-1%);
  }

  50% {
    transform: translateY(1%);
  }

  100% {
    transform: translateY(-1%);
  }
}

.banner-section a {
  color: #fff;
}

/* Project Section */
.project-section {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.project-section p {
  letter-spacing: 1px;
}

.project-section .project-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.project-section .project-container .project-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  position: relative;
  left: 0px;
  padding: 20px;
  margin: 40px 0;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.project-section .project-container .project-card .project-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.project-section .project-container .project-card .bar {
  /* background-color: #2e3033; */
  background: #e0bb20;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  margin: 15px 0;
}

.project-section .project-container .project-card img {
  width: 100%;
  height: auto;
}

.project-section .project-container .project-card img:hover {
  transform: scale(1.1);
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.project-section .project-container .project-card p,
h3 {
  line-height: 25px;
  letter-spacing: 1px;
}

.project-section .project-container .project-card:hover {
  transform: translateY(-10px);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.project-section .project-container .project-card .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-section .project-container .project-card .links > a {
  margin: 0 15px;
  width: 23px;
  height: 23px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.project-section .project-container .project-card .links > a:hover {
  transform: scale(1.2);
}

.project-section .project-container .project-card .links .github-logo {
  background: url("../assets/svg/github-logo.svg");
  background-size: contain;
}

.project-section .project-container .project-card .links .external-logo {
  background: url("../assets/svg/external-logo.svg");
  background-size: contain;
}

/* About Section */
.about-section {
  padding: 30px 20px;
}

.about-section .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section .about-container p,
span {
  margin: 15px 0;
  line-height: 25px;
  letter-spacing: 1px;
}

.about-section .about-container span {
  color: #e0bb20;
}

.about-section .about-container .wave {
  margin: 0;
  font-size: 20px;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.about-section .about-container .design {
  color: #2e9cca;
  font-weight: bold;
}

.about-section .about-container .code {
  color: #f76c6c;
  font-weight: bold;
}

.about-section .about-container .deploy {
  color: #f8e9a1;
  font-weight: bold;
}

/* Skills Section */
.skills-section {
  padding: 30px 20px;
}

.skills-section .skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  margin: 35px 0;
}

.skills-section .skills-grid .skills-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section .skills-grid .skills-flex img {
  width: 30%;
  height: auto;
  filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.skills-section .skills-grid .skills-flex p {
  margin: 20px 0;
  letter-spacing: 1px;
}

.skills-section .skills-grid .skills-flex:hover p {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.skills-section .skills-grid .skills-flex:hover img {
  transform: scale(1.2);
}

/* Contact Section */
.contact-section {
  padding: 30px 20px;
}

.contact-section .note {
  line-height: 25px;
}

.contact-section p,
label,
::placeholder {
  letter-spacing: 1px;
}

.contact-section form {
  margin: 20px 0;
}

.contact-section form input {
  height: 45px;
}

.contact-section form input,
textarea {
  background: #17141d;
  margin: 30px 0;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  border-bottom: 1px solid #e0bb20;
  filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  color: #fff;
  letter-spacing: 1px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact-section form textarea {
  resize: vertical;
  /* max-height: 300px; */
  /* min-height: 100px; */
  height: 45px;

  /* box-sizing: padding-box; */
  /* overflow: hidden; */
}

.contact-section form input:focus,
textarea:focus {
  outline: none;
  transform: translateY(-8px);
  background: #fff;
  color: #100e17;
  border-bottom: 3px solid #e0bb20;
}

/* Place holder styles */
textarea::-webkit-input-placeholder {
  font-size: 13px;
  color: rgb(149, 147, 151, 0.7);
}

textarea:focus::-webkit-input-placeholder {
  font-size: 13px;
  color: #000;
}

/* Firefox < 19 */
textarea:-moz-placeholder {
  font-size: 13px;
  color: rgb(149, 147, 151, 0.7);
}

textarea:focus:-moz-placeholder {
  font-size: 13px;
  color: #000;
}

/* Firefox > 19 */
textarea::-moz-placeholder {
  font-size: 13px;
  color: rgb(149, 147, 151, 0.7);
}

textarea:focus::-moz-placeholder {
  font-size: 13px;
  color: #000;
}

/* Internet Explorer 10 */
textarea:-ms-input-placeholder {
  font-size: 13px;
  color: rgb(149, 147, 151, 0.7);
}

textarea:focus:-ms-input-placeholder {
  font-size: 13px;
  color: #000;
}

.contact-section form .button-submit {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 7px 15px;
  letter-spacing: 1px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  background: #fff;
  color: #100e17;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.contact-section form .button-submit:hover {
  transform: translateY(-7px);
}

.contact-section form .button-submit > i {
  margin-left: 3px;
  animation: sideways 1.5s ease-in-out infinite;
}

@keyframes sideways {
  0% {
    transform: translatex(-15%);
  }

  50% {
    transform: translatex(15%);
  }

  100% {
    transform: translatex(-15%);
  }
}

/* Footer Section */
footer {
  padding: 30px 20px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
}

footer .social-medias {
  padding: 5px 0;
  margin: 5px 0;
}

footer .social-medias > a {
  margin: 0 10px;
  width: 16px;
  height: 16px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%) drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer .social-medias > a:hover {
  transform: scale(1.2);
}

footer .social-medias .github-logo {
  background: url("../assets/svg/github-logo.svg");
  background-size: contain;
}

footer .social-medias .linkedin-logo {
  background: url("../assets/svg/linkedin-logo.svg");
  background-size: contain;
}

footer .social-medias .twitter-logo {
  background: url("../assets/svg/twitter-logo.svg");
  background-size: contain;
}

footer .social-medias .ig-logo {
  background: url("../assets/svg/ig-logo.svg");
  background-size: contain;
}

footer p {
  padding: 5px 0;
  margin: 5px 0;
}

footer .scroll-up {
  border: 1px solid #e0bb20;
  border-radius: 3px;
  background: #e0bb20;
  width: 30px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  cursor: pointer;
  right: 2.5%;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

footer .scroll-up:hover {
  transform: translateY(-7px);
}

footer .scroll-up.active {
  pointer-events: auto;
  opacity: 1;
}

footer .scroll-up > i {
  color: #100e17;
  animation: updown 1.5s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(-30%);
  }
}
